# Final Project Data Science 1 by Luc Oswald

## Investigation of properties affecting Concrete Compressive Strength

### 1. Introduction

1. Objective:

2. Dataset introduction:

In [47]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# fetch dataset
concrete_compressive_strength = fetch_ucirepo(id=165)

# data (as pandas dataframes)
X = concrete_compressive_strength.data.features
y = concrete_compressive_strength.data.targets
#concrete_compressive_strength = pd.concat((X,y), axis=1)
concrete_compressive_strength = concrete_compressive_strength.data.original

# metadata
#print(concrete_compressive_strength.metadata.additional_info.summary)

# variable information
#print(concrete_compressive_strength.variables)

#print(concrete_compressive_strength.data)
concrete_compressive_strength

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Concrete compressive strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

3. Problem Statement:

### 2. Preprocessing

In [21]:
X.head(5)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
# Let's transform the name of those columns that consist of several words into one word
X = X.rename(columns={"Blast Furnace Slag" : "Blast_Furnace_Slag", "Fly Ash" : "Fly_Ash", "Coarse Aggregate" : "Coarse_Aggregate", "Fine Aggregate" : "Fine_Aggregate"})

# Now lets sort by Age
X = X.sort_values(["Age"], ascending=False)
X

,level_0,Cement,Blast_Furnace_Slag,Fly_Ash,Water,Superplasticizer,Coarse_Aggregate,Fine_Aggregate,Age
0,0,307.0,0.0,0.0,193.0,0.0,968.0,812.0,365
7,7,304.0,76.0,0.0,228.0,0.0,932.0,670.0,365
8,8,380.0,0.0,0.0,228.0,0.0,932.0,670.0,365
3,3,236.0,0.0,0.0,193.0,0.0,968.0,885.0,365
4,4,237.5,237.5,0.0,228.0,0.0,932.0,594.0,365
...,...,...,...,...,...,...,...,...,...
1024,1024,166.1,0.0,163.3,176.5,4.5,1058.6,780.1,3
961,961,251.4,0.0,118.3,188.5,5.8,1028.4,757.7,3
1026,1026,236.0,0.0,0.0,194.0,0.0,968.0,885.0,3
1028,1028,385.0,0.0,0.0,186.0,0.0,966.0,763.0,1
1029,1029,500.0,0.0,0.0,200.0,0.0,1125.0,613.0,1

In [14]:
X = X.reset_index()
X = X.drop(columns="index")

In [27]:
X_is_age365 = X[X["Age"] == 365]
len(X_is_age365["Age"])

14

### 3. Exploratory Data Analysis

### 4. Feature Extraction/Engineering

### 5. Hypothesis Testing

### 6. Regression (Classification) Models

In [ ]:
import seaborn as sns

plot1 = sns.pairplot(concrete_compressive_strength)

### 7. Conclusion

### 8. Citation